/* GENERAL */
/* Fonts */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans');

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

pre {
    font-family: 'IBM Plex Mono', monospace;
}

/* Spacing */
main {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* This rule adds scroll bars on images and tables that overflow the page. */
table, img {
    overflow: auto;
    max-width: 100%;
    display: inline-block;
}

/* Adjust header sizes. */
h1, .h1 {
    font-size: 1.6rem
}

h2, .h2 {
    font-size: 1.3rem
}

h3, .h3 {
    font-size: 1.15rem
}

h4, .h4 {
    font-size: 0.98rem
}

h5, .h5 {
    font-size: 0.82rem
}

h6, .h6 {
    font-size: 0.66rem
}

/* MENUS */

/* Adds a space between the fixed and changing portions of the main menu. */
@media (min-width: 992px) {
    #package_list_navbarDropdown {
        margin-left: 1.3rem;
    }
}

/* Adjust the main menu font color. */
#navbarContent > ul > li > a {
    color: rgba(255, 255, 255, 0.85);
}

/* Add a top line to the table of contents. */
.navbar {
    border-style: solid;
    border-width: 1px 1px 4px 1px;
}

/* BLOG PAGE STYLES */
.archive {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.3em;
    text-align: center;
    color: #111;
}

.archive-title {
    font-size: 32px;
    margin-top: 60px;
}

.archive-item {
    margin: 5px 0 15px;
    padding: 0;
}

.archive-item-date {
    color: #ccc;
    font-size: 14px;
    padding: 5px 0;
    margin-top: 5px;
    display: block;
}

.archive-item-link {
    display: inline-block;
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
    color: #222;
    padding: 5px 0;
}

hr {
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.article-date {
    display: block;
    margin-bottom: .7rem;
}

.blog_summary {
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* MISCELLANEOUS */

/* Adjusts the font size on the developer/author list. */
#developers_list {
    font-size: 1rem;
}

/* Indent the role next under authors'/developers' names. */
.role_text {
    padding-left: .7rem;
}

/* Style pill badges */
.pill_badge {
    display: block;
    margin-bottom: .5rem;
}

/* Adds a space under the title on the Design Library home page. */
.design_library_title {
    margin-bottom: 1.2rem;
}
