.nav {
    max-width: 100%;
}

.nav-logo img {
    border-radius: 0;
}

td, th {
    padding-left: 2rem;
    padding-right: 2rem;
}

table {
    overflow: auto;
    max-width: 100%;
    display: block;
}