/* If this is not here, then the content will overflow the window when the window gets too small. This will make sure that the text is reflowed properly to account for a smaller window size.  */
div[role="main"]{
    max-width: 100%;
}

/* Put scroll bars on tables and code blocks if the window is too small to show it in one line. */
pre, table{
    overflow: auto;
    max-width: 100%;
    display: block;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
}

/* We don’t want our code to get word wrapped in any way. That just looks dumb. */
pre{
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
}
