{{partial "header.html" .}}

<main class="container">

  {{if and .IsHome .Content}}
  <article class="article">
    <div class="article-content">
      {{.Content}}
    </div>
  </article>
  {{else}}
  <div class="archive">
    <a class="h1 d-block mb-3" href="/blog">DeclareDesign Blog</a>
    {{range .Paginator.Pages}}
      <article class="archive-item">
        <a href="{{.RelPermalink}}" class="archive-item-link">{{.Title | markdownify}}</a>
        <span class="archive-item-date">
          {{.Date.Format "2006/01/02"}}
        </span>
        {{with .Description}}
          {{$.Scratch.Set "summary" (markdownify .)}}
        {{else}}
          {{$.Scratch.Set "summary" ((index (findRE "(<p.*?>(.|\n)*?</p>)" .Content 1) 0) | safeHTML)}}
        {{end}}
        <div class="blog_summary">{{$.Scratch.Get "summary"}}</div>
        {{if .Truncated}}
          <div><a href="{{.RelPermalink}}">Read More…</a></div>
        {{end}}
      </article>
      <hr/>
    {{end}}
    {{partial "pagination.html" .}}
  </div>
  {{end}}
</main>

{{partial "footer.html" .}}
