{{partial "header.html" .}}

  {{if and .IsHome .Content}}

    {{ partial "hero_section.html" . }}
    {{ partial "mida_section.html" . }}
    {{ partial "software_section.html" . }}
    {{ partial "design_library_section.html" . }}
    {{ partial "cta_section.html" . }}
    {{ partial "approch_section.html" . }}
  {{else}}
    <main class="container">
      <div class="archive">
        {{range (where .Data.Pages "Section" "!=" "").GroupByDate "2006"}}
          <h2 class="archive-title">{{.Key}}</h2>
          {{range .Pages}}
            <article class="archive-item">
              <a href="{{.RelPermalink}}" class="archive-item-link">{{.Title | markdownify}}</a>
              <span class="archive-item-date">
                {{.Date.Format "2006/01/02"}}
              </span>
            </article>
          {{end}}
        {{end}}
      </div>
    </main>
  {{end}}


{{partial "footer.html" .}}
