<!--CTA Section Start-->

<section>
    <div class="home-cta-panel">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="cta-content-wrap text-center">
              <h2 class="text-white">This guide will help you get declaring and diagnosing today.</h2>
              <a href="/getting-started/" class="btn-white">GETTING STARTED</a> </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!--CTA Section End--> 