<!--Design Library Section Start-->

<section>
    <div class="design-lib-panel" style="background-repeat: no-repeat; background-size: contain; background-position: right center">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="lib-content-wrap">
              <h2>Design Library</h2>
              <p>To make getting started easy, we provide a library of common research designs. These design are observational and experimental, causal and descriptive, quantitative and qualitative.</p>
              <a href="/library" class="btn-dd mt-3">VIEW LIBRARY</a> </div>
          </div>
          <div class="col-lg-7">
            <div class="d-lib-img-wrap"> <img src="/images/dd-image-design-library.jpg" alt=""> </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!--Design Library Section End--> 