<link rel="stylesheet" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>

<script>
    jQuery(function ()
    {
        const library_list = jQuery("#design_library_list");
        library_list.addClass("table table-striped table-bordered");
        library_list.DataTable(
            {
               "autoWidth": false,
                "columns":
                    [
                        {"width": "30%"}, // Design
                        {"width": "10%"}, // Vignette
                        {"width": "10%"}, // Designer
                        {"width": "10%"}, // Design Inspector
                        {"width": "15%"}, // Contributor
                        {"width": "25%"}, // Keywords
                    ]
            }
        );

        const tooltip_elements =  jQuery('[data-toggle="tooltip"]');
        tooltip_elements.tooltip();
        tooltip_elements.click(function ()
        {
            jQuery(this).tooltip("hide");
        });

        jQuery("#design_library_list").css("width", "");
    });
</script>
