<!--Hero Section Start-->
<section>
  <div class="hero-panel">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5 col-sm-12 col-12">
          <div class="hero-content pt-3">
            <h1>Declare and Diagnose Your Research Design</h1>
            <p>DeclareDesign is a set of software tools for describing, assessing, and conducting empirical research.</p>
            <a href="/mida/" class="btn-dd">GET STARTED</a> </div>
        </div>
        <div class="col-md-7 col-sm-12 col-12">
          <div class="header-img-wrap"> <img src="images/DeclareDesign-header-image.svg" alt=""> </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="down-arrow-row">
  <div class="col-sm-12 text-center down-arrow bounce"><img width="22px" src="/images/down-arrow.svg" alt></div>
</div>
<!--Hero Section End--> 
