<!--MIDA Section Start-->

<section>
    <div class="mida-panel" style="background-image: url(images/mida.jpg); background-repeat: no-repeat; background-size: cover; background-position: bottom center">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <div class="mida-content-wrap">
              <h2>Model + Inquiry + Data Strategy + Answer Strategy</h2>
              <p>Research designs have four components. Learn more about the MIDA framework.</p>
              <a href="/mida" class="btn-dd mt-3">LEARN MORE</a> </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!--MIDA Section End--> 