{{define "menu_items_template"}}
  {{$menu_items := index .context.Site.Menus .section}}
  {{range $menu_items.ByWeight}}
    {{if .HasChildren}}
        <li>
          <a>{{.Name}}</a>
          <ul>
            {{range .Children}}
              <li><a href="{{.URL}}">{{.Name}}</a></li>
            {{end}}
          </ul>
      </li>
    {{else}}
      <li><a href='{{.URL}}'>{{.Name}}</a></li>
    {{end}}
  {{end}}
{{end}}

<div id='cssmenu'>
  <ul>
    <li><a href="/" id="home_link">Project Home</a></li>

    {{/* Unique menu items */}}
    {{if (hasPrefix .Dir "r/declaredesign")}}
      {{template "menu_items_template" dict "section" "declaredesign" "context" .}}
    {{else if (hasPrefix .Dir "r/randomizr")}}
      {{template "menu_items_template" dict "section" "randomizr" "context" .}}
    {{else if (hasPrefix .Dir "r/fabricatr")}}
      {{template "menu_items_template" dict "section" "fabricatr" "context" .}}
    {{else if (hasPrefix .Dir "r/estimatr")}}
      {{template "menu_items_template" dict "section" "estimatr" "context" .}}
    {{else}}
      {{template "menu_items_template" dict "section" "main" "context" .}}
    {{end}}

    {{/* General packages list */}}
    {{template "menu_items_template" dict "section" "packagelist" "context" .}}

  </ul>
</div>
