<div id='cssmenu'>
  <ul>

    <li><a href="/">The Declare Universe</a></li>

    {{if eq .Section "DeclareDesign"}}
        {{ range .Site.Menus.declaredesign.ByWeight }}
          {{ if .HasChildren }}
              <li>
                <a>{{ .Name }}</a>
                <ul>
                  {{ range .Children }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                  {{ end }}
                </ul>
            </li>
          {{ else }}
            <li><a href='{{ .URL }}'>{{ .Name }}</a></li>
          {{ end }}
        {{ end }}

    {{else if eq .Section "randomizr"}}
        {{ range .Site.Menus.randomizr.ByWeight }}
          {{ if .HasChildren }}
              <li>
                <a>{{ .Name }}</a>
                <ul>
                  {{ range .Children }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                  {{ end }}
                </ul>
            </li>
          {{ else }}
            <li><a href='{{ .URL }}'>{{ .Name }}</a></li>
          {{ end }}
        {{ end }}

  {{else if eq .Section "fabricatr"}}
      {{ range .Site.Menus.fabricatr.ByWeight }}
        {{ if .HasChildren }}
            <li>
              <a>{{ .Name }}</a>
              <ul>
                {{ range .Children }}
                  <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
              </ul>
          </li>
        {{ else }}
          <li><a href='{{ .URL }}'>{{ .Name }}</a></li>
        {{ end }}
      {{ end }}

  {{else if eq .Section "estimatr"}}
      {{ range .Site.Menus.estimatr.ByWeight }}
        {{ if .HasChildren }}
            <li>
              <a>{{ .Name }}</a>
              <ul>
                {{ range .Children }}
                  <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
              </ul>
          </li>
        {{ else }}
          <li><a href='{{ .URL }}'>{{ .Name }}</a></li>
        {{ end }}
      {{ end }}

  {{else}}
      {{ range .Site.Menus.main.ByWeight }}
        {{ if .HasChildren }}
            <li>
              <a>{{ .Name }}</a>
              <ul>
                {{ range .Children }}
                  <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
              </ul>
          </li>
        {{ else }}
          <li><a href='{{ .URL }}'>{{ .Name }}</a></li>
        {{ end }}
      {{ end }}

  {{end}}


  {{ range .Site.Menus.packagelist.ByWeight }}
    {{ if .HasChildren }}
        <li>
          <a>{{ .Name }}</a>
          <ul>
            {{ range .Children }}
              <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
      </li>
    {{ else }}
      <li><a href='{{ .URL }}'>{{ .Name }}</a></li>
    {{ end }}
  {{ end }}

</ul>
</div>
