{{/* --------------------------------------------------------------------------------------- */}}
{{/* Creates the table of contents that changes with each package.                           */}}
{{/* --------------------------------------------------------------------------------------- */}}
{{define "menu_items_template"}}
  {{$menu_items := index .context.Site.Menus .section}}
  {{range $menu_items.ByWeight}}
    {{if .HasChildren}}
      <li class="nav-item">
        <span class="nav-link">{{.Name}}</span>
        <ul class="nav nav-pills flex-column">
          {{range .Children}}
            <li class="nav-item ml-3"><a href="{{.URL}}" class="nav-link">{{.Name}}</a></li>
          {{end}}
        </ul>
      </li>
    {{else}}
      <li class="nav-item"><a class="nav-link" href="{{.URL}}">{{.Name}}</a></li>
    {{end}}
  {{end}}
{{end}}

{{/* ------------------------------------------------------------------------------------------------------- */}}
{{/* Picks which menu items should be displayed depending on the package that is currently being viewed.     */}}
{{/* ------------------------------------------------------------------------------------------------------- */}}
<div class="col-lg-3" id="toc_column">
  <div id="TOC" class="mb-3">
    <nav class="navbar navbar-light bg-light">
      {{if (hasPrefix .Dir "r/declaredesign")}}
        <a class="navbar-brand" href="/r/declaredesign/">DeclareDesign for R</a>
        <ul class="nav nav-pills flex-column">
          {{template "menu_items_template" dict "section" "declaredesign" "context" .}}
        </ul>
      {{else if (hasPrefix .Dir "r/randomizr")}}
        <a class="navbar-brand" href="/r/randomizr/">randomizr for R</a>
        <ul class="nav nav-pills flex-column">
          {{template "menu_items_template" dict "section" "randomizr" "context" .}}
        </ul>
      {{else if (hasPrefix .Dir "stata/randomizr")}}
        <a class="navbar-brand" href="/stata/randomizr/">randomizr for Stata</a>
        <ul class="nav nav-pills flex-column">
          {{template "menu_items_template" dict "section" "strandomizr" "context" .}}
        </ul>
      {{else if (hasPrefix .Dir "r/fabricatr")}}
        <a class="navbar-brand" href="/r/fabricatr/">fabricatr for R</a>
        <ul class="nav nav-pills flex-column">
          {{template "menu_items_template" dict "section" "fabricatr" "context" .}}
        </ul>
      {{else if (hasPrefix .Dir "r/estimatr")}}
        <a class="navbar-brand" href="/r/estimatr/">estimatr for R</a>
        <ul class="nav nav-pills flex-column">
          {{template "menu_items_template" dict "section" "estimatr" "context" .}}
        </ul>
      {{else if (hasPrefix .Dir "library")}}
        <div></div> {{/* Empty table of contents. */}}
      {{else if (hasPrefix .Dir "blog")}}
        <div></div> {{/* Empty table of contents. */}}
      {{else}}
        <div></div> {{/* Empty table of contents. */}}
      {{end}}
    </nav>
  </div>
</div>
