{{/* --------------------------------------------------------------------------------------- */}}
{{/* Creates the table of contents that changes with each package.                           */}}
{{/* --------------------------------------------------------------------------------------- */}}
{{define "menu_items_template"}}
  {{$menu_items := index .context.Site.Menus .section}}
  {{range $menu_items.ByWeight}}
    {{if .HasChildren}}
      <li class="nav-item"><span class="nav-link">{{.Name}}</span></li>
      <ul class="nav nav-pills flex-column">
      {{range .Children}}
        <li class="nav-item ml-3"><a href="{{.URL}}" class="nav-link">{{.Name}}</a></li>
      {{end}}
      </ul>
    {{else}}
      <li class="nav-item"><a class="nav-link" href="{{.URL}}">{{.Name}}</a></li>
    {{end}}
  {{end}}
{{end}}

{{/* ------------------------------------------------------------------------------------------------------- */}}
{{/* Picks which menu items should be displayed depending on the package that is currently being viewed.     */}}
{{/* ------------------------------------------------------------------------------------------------------- */}}
<div class="col-lg-3" id="toc_column">
  <div id="TOC" class="mb-3">
    <nav class="navbar navbar-light bg-light"><a class="navbar-brand" href="#">Table of Contents</a>
      <ul class="nav nav-pills flex-column">
        {{/* Unique menu items */}}
        {{if (hasPrefix .Dir "r/declaredesign")}}
          <li class="nav-item"><a class="nav-link" href="/r/declaredesign/">DeclareDesign for R</a></li>
          {{template "menu_items_template" dict "section" "declaredesign" "context" .}}
        {{else if (hasPrefix .Dir "r/randomizr")}}
          <li class="nav-item"><a class="nav-link" href="/r/randomizr/">randomizr for R</a></li>
          {{template "menu_items_template" dict "section" "randomizr" "context" .}}
        {{else if (hasPrefix .Dir "stata/randomizr")}}
          <li class="nav-item"><a class="nav-link" href="/stata/randomizr/">randomizr for Stata</a></li>
          {{template "menu_items_template" dict "section" "strandomizr" "context" .}}
        {{else if (hasPrefix .Dir "r/fabricatr")}}
          <li class="nav-item"><a class="nav-link" href="/r/fabricatr/">fabricatr for R</a></li>
          {{template "menu_items_template" dict "section" "fabricatr" "context" .}}
        {{else if (hasPrefix .Dir "r/estimatr")}}
          <li class="nav-item"><a class="nav-link" href="/r/estimatr/">estimatr for R</a></li>
          {{template "menu_items_template" dict "section" "estimatr" "context" .}}
        {{else if (hasPrefix .Dir "library")}}
          <li class="nav-item"><a class="nav-link" href="/library/">Design Library</a></li>
          {{template "menu_items_template" dict "section" "library" "context" .}}
        {{end}}
      </ul>
    </nav>
  </div>
</div>
